@charset "UTF-8";
@font-face {
  font-family: "font1";
  src: url(../font/Allura-Regular.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../font/Poppins-Medium.ttf);
}
@font-face {
  font-family: "font3";
  src: url(../font/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  box-sizing: border-box;
  background: #212020;
  text-align: center;
}

header {
  position: relative;
  background: url(../img/bg-slider-06.jpg) center/cover;
  height: 100vh;
  min-height: 500px;
  color: white;
}
header nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 25px 0;
}
@media screen and (max-width: 900px) {
  header nav {
    grid-template-columns: 50% 50%;
    text-align: left;
  }
}
header nav p {
  font-family: "font1", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
header nav .nav-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-family: "font3", sans-serif;
  font-size: 0.9rem;
}
@media screen and (max-width: 900px) {
  header nav .nav-center {
    display: none;
  }
}
header nav .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  header nav .nav-right {
    position: relative;
    right: -50px;
  }
}
@media screen and (max-width: 500px) {
  header nav .nav-right {
    position: relative;
    right: 0px;
  }
}
header nav .nav-right i {
  padding: 0 10px;
}
header .title {
  position: relative;
  text-align: center;
  top: 20%;
  transform: translateY(-20%);
}
header .title :nth-child(1) {
  font-family: "font1", sans-serif;
  font-size: 3rem;
  color: rgb(166, 114, 69);
}
header .title h1 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: "font2", sans-serif;
  font-size: 4rem;
  top: -10px;
}
@media screen and (max-width: 900px) {
  header .title h1 {
    font-size: 2.5rem;
  }
}
header .title :last-child {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 8px;
  padding: 25px;
  color: rgba(255, 255, 255, 0.792);
  line-height: 25px;
}

.part1 {
  height: 70vh;
  min-height: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
  background: white;
  position: relative;
  background: #e4e4e4;
}
@media screen and (max-width: 900px) {
  .part1 {
    grid-template-columns: 100%;
  }
}
.part1 .our-chef {
  margin: 20px;
  border: 1px dashed rgb(166, 114, 69);
  position: relative;
}
.part1 .our-chef h2 {
  color: rgb(166, 114, 69);
  font-family: "font1", sans-serif;
  font-size: 2.5rem;
  position: relative;
  top: 20px;
}
.part1 .our-chef :nth-child(2) {
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "font2", sans-serif;
  font-size: 1.5rem;
  top: 0;
}
.part1 .our-chef img {
  padding: 15px 0 0 0;
}
.part1 .our-chef :nth-child(4) {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  font-size: 1.3rem;
  padding: 0 10px;
  font-family: "font3", sans-serif;
}
.part1 .our-chef .chef {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}
.part1 .our-chef .chef img {
  width: 30%;
  border-radius: 100px;
}
.part1 .our-chef .chef :nth-child(2) {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 100;
}
.part1 .our-chef .chef :nth-child(3) {
  text-transform: uppercase;
  font-family: "font2", sans-serif;
  color: #e4e4e4;
}
.part1 .picture {
  background: url(../img/store-01.jpg) center/cover;
}
@media screen and (max-width: 900px) {
  .part1 .picture {
    display: none;
  }
}

.part2 {
  position: relative;
  background: url(../img/bg-menu-01.jpg) center/cover;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 150px;
}
@media screen and (max-width: 600px) {
  .part2 {
    background: url(../asset/img/bg-menu-01.jpg);
    background-repeat: no-repeat;
    background-size: 50% contain;
    background-position: bottom center;
  }
}
.part2 .title-part2 {
  padding: 35px 0 0 0;
}
.part2 .title-part2 h3 {
  font-family: "font1", sans-serif;
  color: rgb(166, 114, 69);
  font-size: 2.5rem;
}
.part2 .list-menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  color: white;
  padding: 15px 0 50px 0;
}
@media screen and (max-width: 900px) {
  .part2 .list-menu {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .part2 .list-menu {
    width: 90%;
  }
}
.part2 .list-menu li {
  padding: 15px 0;
  border-bottom: 1px solid white;
  font-family: "font3", sans-serif;
}
.part2 .menu {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto 0px;
  background: #e4e4e4;
  padding: 0 20px 20px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .part2 .menu {
    width: 90%;
    padding: 0 0px 0px;
  }
}
@media screen and (max-width: 600px) {
  .part2 .menu {
    display: block;
  }
}
.part2 .menu::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: rgb(166, 114, 69);
  margin: auto;
}
.part2 .menu .items-menu {
  margin: auto;
  flex-basis: 48%;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  align-items: center;
  text-align: center;
  padding: 25px 0px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.185);
}
.part2 .menu .items-menu img {
  border-radius: 100px;
  width: 75%;
}
.part2 .menu .items-menu .meal {
  text-align: left;
}
.part2 .menu .items-menu .meal h3 {
  font-family: "font3", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.95rem;
}
.part2 .menu .items-menu .meal p {
  font-family: "font3", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: black;
}
.part2 .menu .items-menu p {
  color: rgb(166, 114, 69);
  font-family: "font2", sans-serif;
}

.part3 {
  position: relative;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: auto;
  height: auto;
  min-height: 500px;
  width: 80%;
  min-width: 550px;
}
@media screen and (max-width: 900px) {
  .part3 {
    display: block;
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .part3 {
    width: 100%;
    min-width: 250px;
  }
}
.part3 .left {
  position: relative;
  background: black;
  padding: 20px;
}
.part3 .horraire {
  color: white;
  display: grid;
  grid-template-rows: 25% 75%;
  border: 1px dashed rgba(255, 255, 255, 0.703);
  height: 100%;
}
.part3 .horraire .logo {
  place-self: center;
}
.part3 .horraire .logo h4 {
  font-family: "font1", sans-serif;
  color: rgb(166, 114, 69);
  font-size: 2.5rem;
  font-weight: 100;
}
.part3 .horraire .logo p {
  font-size: 1.5rem;
  font-family: "font2", sans-serif;
  text-transform: uppercase;
  -webkit-margin-before: -0.5em;
          margin-block-start: -0.5em;
}
.part3 .horraire .logo img {
  position: relative;
  top: 15px;
}
.part3 .horraire .infos {
  padding: 25px 0 0 0;
}
.part3 .horraire .infos h4 {
  text-transform: uppercase;
  color: rgb(166, 114, 69);
  padding: 25px 0;
  font-size: 1rem;
  margin: auto;
  font-family: "font2", sans-serif;
  font-weight: 100;
}
.part3 .horraire .infos p {
  font-family: "font3", sans-serif;
  font-size: 0.8rem;
}
.part3 .reservation {
  background: #e4e4e4;
  display: grid;
  grid-template-rows: 40% 35% 25%;
  position: relative;
}
@media screen and (max-width: 900px) {
  .part3 .reservation {
    height: 600px;
    grid-template-rows: 30% 45% 25%;
  }
}
.part3 .reservation .title-reservation {
  place-self: center;
}
.part3 .reservation .title-reservation h4 {
  color: rgb(166, 114, 69);
  font-family: "font1", sans-serif;
  font-size: 2.1rem;
}
.part3 .reservation .title-reservation p {
  position: relative;
  font-family: "font2", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 900;
  top: -15px;
}
.part3 .reservation .input-reservation {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
@media screen and (max-width: 900px) {
  .part3 .reservation .input-reservation {
    display: block;
    padding: 0 25px;
  }
}
.part3 .reservation .input-reservation .input input {
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.296);
  padding: 10px 0;
  font-family: "font3", sans-serif;
  font-weight: 900;
  min-width: 100px;
  width: 80%;
  background: transparent;
}
@media screen and (max-width: 900px) {
  .part3 .reservation .input-reservation .input input {
    line-height: 25px;
  }
}
.part3 .reservation .input-reservation .black input::-moz-placeholder {
  color: rgb(0, 0, 0);
}
.part3 .reservation .input-reservation .black input::placeholder {
  color: rgb(0, 0, 0);
}
.part3 .reservation .btn {
  position: relative;
}
.part3 .reservation .btn button {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 15px 30px;
  border-radius: 30px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-family: "font2", sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 0.9rem;
}
@media screen and (max-width: 900px) {
  .part3 .reservation .btn button {
    top: 50%;
    transform: translate(-50%, 0%);
    font-size: 0.7rem;
  }
}

.part4 {
  position: relative;
  display: grid;
  grid-template-rows: 20% 80%;
  min-height: 600px;
  padding: 50px 0 50px 0;
}
@media screen and (max-width: 935px) {
  .part4 {
    display: none;
  }
}
.part4 .title-event {
  place-self: center;
}
.part4 .title-event h5 {
  color: rgb(166, 114, 69);
  font-family: "font1", sans-serif;
  font-size: 3rem;
}
.part4 .title-event p {
  position: relative;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "font2", sans-serif;
  font-weight: 900;
  color: white;
  top: -15px;
}
.part4 .evenements {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b" "c b";
  place-self: center;
  width: 80%;
  min-height: 450px;
  gap: 25px;
  padding: 35px 0 50px 0;
}
.part4 .evenements .event1 {
  grid-area: a;
  display: grid;
  grid-template-columns: 25% 75%;
}
.part4 .evenements .event1 .img {
  position: relative;
  background: url(/asset/img/event-01.jpg) center/cover;
}
.part4 .evenements .event1 .img .date {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #212020;
  color: white;
  height: 75px;
  width: 75px;
}
.part4 .evenements .event1 .img .date :first-child {
  font-size: 1.2rem;
  font-family: "font2", sans-serif;
  font-weight: 900;
  padding: 10px 0 0 0;
}
.part4 .evenements .event1 .img .date :last-child {
  position: relative;
  font-size: 0.9rem;
  font-family: "font3", sans-serif;
  font-weight: 100;
  top: -5px;
}
.part4 .evenements .event1 .infos {
  height: auto;
  background-color: #e4e4e4;
  text-align: left;
  padding: 0 0 0 35px;
}
.part4 .evenements .event1 .infos h5 {
  position: relative;
  font-size: 1.5rem;
  font-family: "font3", sans-serif;
  padding: 35px 50px 35px 10px;
  font-weight: 100;
}
.part4 .evenements .event1 .infos :nth-child(2) {
  font-size: 1rem;
  font-family: "font3", sans-serif;
  color: rgba(0, 0, 0, 0.3490196078);
}
.part4 .evenements .event1 .infos :nth-child(3) {
  padding: 35px 0 0;
  font-size: 0.8rem;
  font-family: "font3", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.part4 .evenements .event2 {
  grid-area: b;
  background: url(/asset/img/event-03.jpg) center/cover;
  padding: 30px;
}
.part4 .evenements .event2 .card-right {
  position: relative;
  background-color: #e4e4e4;
  height: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
}
.part4 .evenements .event2 .card-right .date {
  background: #212020;
  color: white;
  height: 75px;
  width: 75px;
  margin: auto;
}
.part4 .evenements .event2 .card-right .date :first-child {
  font-size: 1.2rem;
  font-family: "font2", sans-serif;
  font-weight: 900;
  padding: 10px 0 0 0;
}
.part4 .evenements .event2 .card-right .date :last-child {
  position: relative;
  font-size: 0.9rem;
  font-family: "font3", sans-serif;
  font-weight: 100;
  top: -5px;
}
.part4 .evenements .event2 .card-right .infos {
  height: auto;
}
.part4 .evenements .event2 .card-right .infos h5 {
  position: relative;
  font-size: 1.5rem;
  font-family: "font3", sans-serif;
  padding: 50px 50px 0 50px;
  font-weight: 100;
}
.part4 .evenements .event2 .card-right .infos :nth-child(2) {
  font-size: 1.2rem;
  font-family: "font3", sans-serif;
  color: rgba(0, 0, 0, 0.3490196078);
}
.part4 .evenements .event2 .card-right .infos :nth-child(3) {
  padding: 85px 0 0;
  font-size: 1rem;
  font-family: "font3", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.part4 .evenements .event3 {
  grid-area: c;
  display: grid;
  grid-template-columns: 25% 75%;
}
.part4 .evenements .event3 .img {
  position: relative;
  background: url(/asset/img/event-02.jpg) center/cover;
}
.part4 .evenements .event3 .img .date {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #212020;
  color: white;
  height: 75px;
  width: 75px;
}
.part4 .evenements .event3 .img .date :first-child {
  font-size: 1.2rem;
  font-family: "font2", sans-serif;
  font-weight: 900;
  padding: 10px 0 0 0;
}
.part4 .evenements .event3 .img .date :last-child {
  position: relative;
  font-size: 0.9rem;
  font-family: "font3", sans-serif;
  font-weight: 100;
  top: -5px;
}
.part4 .evenements .event3 .infos {
  height: auto;
  background-color: #e4e4e4;
  text-align: left;
  padding: 0 0 0 35px;
}
.part4 .evenements .event3 .infos h5 {
  position: relative;
  font-size: 1.5rem;
  font-family: "font3", sans-serif;
  padding: 35px 50px 35px 10px;
  font-weight: 100;
}
.part4 .evenements .event3 .infos :nth-child(2) {
  font-size: 1rem;
  font-family: "font3", sans-serif;
  color: rgba(0, 0, 0, 0.3490196078);
}
.part4 .evenements .event3 .infos :nth-child(3) {
  padding: 35px 0 0;
  font-size: 0.8rem;
  font-family: "font3", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.part5 {
  height: 600px;
  position: relative;
  margin: 50px auto 0 auto;
}
.part5::before {
  position: absolute;
  content: "";
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 55%;
  background: url(/asset/img/gmap.jpg);
  background-size: cover 100% 50%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}
.part5 .conclusion {
  background: #e4e4e4;
  width: 70%;
  margin: auto;
  height: 350px;
}
@media screen and (max-width: 900px) {
  .part5 .conclusion {
    width: 90%;
    height: 370px;
  }
}
@media screen and (max-width: 900px) {
  .part5 .conclusion {
    width: 90%;
    height: 410px;
  }
}
.part5 .conclusion .note img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  width: 80px;
}
.part5 .conclusion .note p {
  padding: 100px 100px;
  font-family: "font3", sans-serif;
}
@media screen and (max-width: 600px) {
  .part5 .conclusion .note p {
    padding: 100px 10px;
  }
}
.part5 .conclusion .note p::before {
  content: "❝";
  color: black;
}
.part5 .conclusion .note p::after {
  content: "❝";
  color: black;
}
.part5 .conclusion .note h6 {
  font-family: "font3", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}
.part5 .conclusion .note span {
  color: rgb(166, 114, 69);
}

footer {
  background: url(/asset/img/bg-footer.jpg) center/cover;
  height: 300px;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;
}
@media screen and (max-width: 900px) {
  footer {
    background: #212020;
    display: block;
    text-align: left;
  }
}
footer .left {
  padding: 70px 50px 0px 20%;
}
@media screen and (max-width: 900px) {
  footer .left {
    display: none;
  }
}
footer .left h6 {
  color: rgb(166, 114, 69);
  font-family: "font1", sans-serif;
  font-size: 3rem;
}
footer .left p {
  font-family: "font3", sans-serif;
  color: rgba(255, 255, 255, 0.603);
  font-weight: 100;
  line-height: 35px;
  font-size: 0.8rem;
}
footer .right {
  padding: 85px 0px 0px 50px;
}
footer .right h6 {
  text-transform: uppercase;
  color: #fff;
  font-family: "font3", sans-serif;
  font-size: 1rem;
}
@media screen and (max-width: 900px) {
  footer .right h6 {
    font-size: 0.8rem;
  }
}
footer .right input {
  border: 1px solid rgba(255, 255, 255, 0.603);
  padding: 10px 75px 10px 15px;
  background: transparent;
  margin: 30px 0;
}
@media screen and (max-width: 900px) {
  footer .right input {
    padding: 5px 30px 5px 10px;
  }
}
footer .right .follow {
  display: grid;
  grid-template-columns: 25% 75%;
  flex-wrap: wrap;
}
footer .right .follow ul {
  display: flex;
}
footer .right .follow ul li {
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.34);
}
@media screen and (max-width: 900px) {
  footer .right .follow ul li {
    margin: 0 10px;
  }
}/*# sourceMappingURL=style.css.map */