.part4 {
    position: relative;
    display: grid;
    grid-template-rows: 20% 80%;
    min-height: 600px;
    padding: 50px 0 50px 0;

    @media screen and (max-width: 935px) {
        display: none;
    }


    .title-event {
        place-self: center;

        h5 {
            color: $color4;
            font-family: $font1;
            font-size: 3rem;
        }

        p {
            position: relative;
            text-transform: uppercase;
            font-size: 2.5rem;
            font-family: $font2;
            font-weight: 900;
            color: white;
            top: -15px;
        }
    }

    .evenements {
        display: grid;
        grid-template-columns: 58% 42%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "a b"
            "c b";

        place-self: center;
        width: 80%;
        min-height: 450px;
        gap: 25px;
        padding: 35px 0 50px 0;



        .event1 {
            grid-area: a;
            display: grid;
            grid-template-columns: 25% 75%;

            .img {
                position: relative;
                background: url(../img/event-01.jpg) center/cover;

                .date {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background: $color2;
                    color: white;
                    height: 75px;
                    width: 75px;

                    :first-child {
                        font-size: 1.2rem;
                        font-family: $font2;
                        font-weight: 900;
                        padding: 10px 0 0 0;

                    }

                    :last-child {
                        position: relative;
                        font-size: 0.9rem;
                        font-family: $font3;
                        font-weight: 100;
                        top: -5px;
                    }
                }
            }

            .infos {
                height: auto;
                background-color: $color3;
                text-align: left;
                padding: 0 0 0 35px;


                h5 {
                    position: relative;
                    font-size: 1.5rem;
                    font-family: $font3;
                    padding: 35px 50px 35px 10px;
                    font-weight: 100;
                }

                :nth-child(2) {
                    font-size: 1rem;
                    font-family: $font3;
                    color: #00000059;
                    // font-weight: 900;
                    // padding: 10px 0 0 0;

                }

                :nth-child(3) {
                    padding: 35px 0 0;
                    font-size: 0.8rem;
                    font-family: $font3;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }

            }


        }

        .event2 {
            grid-area: b;
            background: url(../img/event-03.jpg) center/cover;
            padding: 30px;

            .card-right {
                position: relative;
                background-color: $color3;
                height: 100%;
                display: grid;
                grid-template-rows: 20% 80%;


                .date {
                    background: $color2;
                    color: white;
                    height: 75px;
                    width: 75px;
                    margin: auto;


                    :first-child {
                        font-size: 1.2rem;
                        font-family: $font2;
                        font-weight: 900;
                        padding: 10px 0 0 0;

                    }

                    :last-child {
                        position: relative;
                        font-size: 0.9rem;
                        font-family: $font3;
                        font-weight: 100;
                        top: -5px;
                    }
                }

                .infos {
                    height: auto;


                    h5 {
                        position: relative;
                        font-size: 1.5rem;
                        font-family: $font3;
                        padding: 50px 50px 0 50px;
                        font-weight: 100;
                    }

                    :nth-child(2) {
                        font-size: 1.2rem;
                        font-family: $font3;
                        color: #00000059;
                        // font-weight: 900;
                        // padding: 10px 0 0 0;

                    }

                    :nth-child(3) {
                        padding: 85px 0 0;
                        font-size: 1rem;
                        font-family: $font3;
                        font-weight: 900;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }

                }
            }



        }

        .event3 {
            grid-area: c;
            display: grid;
            grid-template-columns: 25% 75%;


            .img {
                position: relative;
                background: url(../img/event-02.jpg) center/cover;

                .date {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background: $color2;
                    color: white;
                    height: 75px;
                    width: 75px;


                    :first-child {
                        font-size: 1.2rem;
                        font-family: $font2;
                        font-weight: 900;
                        padding: 10px 0 0 0;

                    }

                    :last-child {
                        position: relative;
                        font-size: 0.9rem;
                        font-family: $font3;
                        font-weight: 100;
                        top: -5px;
                    }
                }
            }

            .infos {
                height: auto;
                background-color: $color3;
                text-align: left;
                padding: 0 0 0 35px;


                h5 {
                    position: relative;
                    font-size: 1.5rem;
                    font-family: $font3;
                    padding: 35px 50px 35px 10px;
                    font-weight: 100;
                }

                :nth-child(2) {
                    font-size: 1rem;
                    font-family: $font3;
                    color: #00000059;
                    // font-weight: 900;
                    // padding: 10px 0 0 0;

                }

                :nth-child(3) {
                    padding: 35px 0 0;
                    font-size: 0.8rem;
                    font-family: $font3;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }

            }


        }


    }
}